<form>
  <label>Slack Token</label>
  <input type="text" ng-model="slackFormVm.token">
  <br>
  <p>Days:
    <select ng-model="slackFormVm.days" convert-to-number>
      <option selected value="2">2</option>
      <option value="5">5</option>
      <option value="10">10</option>
      <option value="14">14</option>
      <option value="20">20</option>
      <option value="30">30</option>
      <option value="60">60</option>
    </select>
  </p>
  <button ng-click="slackFormVm.sendData(this)">Delete</button>
</form>
